{% load static %}
<footer class="bg-primary text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>Somos un equipo apasionado por la tecnología, dedicado a ofrecer las últimas novedades y
                    productos innovadores en el mercado.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a class="text-white" href="{% url 'nosotros' %}">Nosotros</a></li>


                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <a href="https://www.facebook.com" class="text-white me-2" target="_blank"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.twitter.com" class="text-white me-2" target="_blank"><i
                        class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com" class="text-white me-2" target="_blank"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.linkedin.com" class="text-white" target="_blank"><i
                        class="fab fa-linkedin fa-lg"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2024. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>